h1 {
  font-size: 5em;
  text-align: center;
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(144, 96, 167);
  border-radius: 50px;
}

h2 {
  font-size: 3em;
}

ul {
  font-size: 2em;

}
