<article class="container center">

  <div class="page-area">

      <pb-article class="text-box">
          <!-- This is a Semantic HTML Change; h3 tag instead of h1 (also applies to a11y changes mentioned above) -->
          <h3>Stay on track</h3>
          <!-- This is an A11y Change; heading levels are written in a logical sequence and are not skipped -->
          <div>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </div>
      </pb-article>

      <pb-article class="text-box">
          <h3>Alerts</h3>
          <div>
              <!-- This is an A11y Change; increased font size for readability in CSS -->
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </div>
      </pb-article>

      <pb-article class="text-box">
          <h3>Results</h3>
          <div>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </div>
      </pb-article>

      <pb-article class="text-box">
          <h3>Free</h3>
          <div>
              This app is free!!! And you are the only one holding your data!
          </div>
      </pb-article>

      <pb-article class="text-box">
          <h3>Stay on track</h3>
          <div>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </div>
      </pb-article>

      <pb-article class="text-box">
          <h3>Alerts</h3>
          <div>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </div>
      </pb-article>

      <pb-article class="text-box">
          <h3>Results</h3>
          <div>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </div>
      </pb-article>

      <div class="text-box">
          <h3>Chart</h3>
          <p>
              <canvas id="myChart" width="400" height="400"></canvas>
          </p>
      </div>
      <pb-d3jschart></pb-d3jschart>

      <pb-breadcrumbs></pb-breadcrumbs>
  </div>

</article>
